body{
  margin:0;
  font-family: "Black Ops One", system-ui;
  font-style: normal;
}

h1 {
  font-weight: 400;
}

#conteneur_titre{
  display: grid;
  place-items: center;
  background-color: #F3FEB8;
  color:#FFB22C;
  font-size: 3em;
}


#contenu_recherche{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFB22C;
  background-color: #73BBA3;
  height: 5em;
}

#contenu_recherche input[type=text] {
  transition:2s;
  height:3em;
  width:10%;
}

#contenu_recherche input[type=text]:focus, #contenu_recherche input[type=text]:hover  {
  background-color: #B4E380;
}

#contenu {
  margin: 1%;
  /* margin-left: 2%;
  margin-right: 2%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
